<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frozen yogurt shop</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/media-queries.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-logo">
                <img src="../assests/images/logo.png" alt="">
            </div>
            <div class="navbar-links">
                <ul>
                    <li><a href="../index.html">home</a></li>
                    <li><a href="about.html" id="active">about</a></li>
                    <li><a href="blog.html">blog</a></li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="about-title">
            About
        </div>

        <div class="about-bg">
            <div class="inner-about-bg">   
            </div>
        </div>
        
        <section class="about-section">
            <div class="about-side-secton">
                <h1>Be Part of Our Community</h1>
                <p class="side-section-text">
                    If you’re experiencing issues or having concerns about this website template, join the discussion <a href="https://freewebsitetemplates.com/forums/">on our forum</a> and meet other people in the community who share the same interests.</p>
            </div>

            <div class="about-main-section">
                <div class="inner-main-section">
                    <h1>We Have Free Templates For Everyone
                        </h1>
                    <div>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them.
                        <br><br>
                        You can use them to design websites for clients, so long as you agree with the Terms of Use. You can even remove all our links if you want to.</div>
                </div>
                <div class="inner-main-section">
                    <h1>We Have More Templates For You</h1>
                    <div>
                        Looking for more templates? Just browse through all our <a href="htttps://freewebsitetemplates.com">Free Website Templates</a>. But if you can’t find any website templates you can use, try our <a href="#">Free Web Design</a> service and tell us all about it. We love a good challenge!</div>
                </div>
                <div class="inner-main-section">
                    <h1>Template Details</h1>
                    <div>
                        
                            Design Version 2. <br>
                            Code Version 1. <br>
                            Website Template details, discussion and updates for this <a href="#">Frozen Yogurt Shop Website Template</a>.
                            <br><br>
                            Website Template design by <a href="#">Free Website Templates</a>.
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer class="footer">
        <div class="socialmedia-links">
            <div class="inner-smlinks">
                <a href=""><img src="../assests/images/facebook.png" alt=""></a>
                <a href=""><img src="../assests/images/twitter-sign (1).png" alt=""></a>
                <a href=""><img src="../assests/images/pinterest.png" alt=""></a>
                <a href=""><img src="../assests/images/google-browser.png" alt=""></a>
            </div>
            <p>&copy;  2025 Freeeze. All Rights Reserved. Developed by dp</p>
        </div>
    </footer>
    
</body>
</html>
