<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frozen yogurt shop</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/media-queries.css">
    <!-- <link rel="icon" href=""> -->

</head>
<body>

    <header>
        <nav class="navbar">
            <div class="navbar-logo">
                <img src="../assests/images/logo.png" alt="">
            </div>
            <div class="navbar-links">
                <ul>
                    <!-- <li><a href="../index.html">home</a></li>
                    <li><a href="./about.html">about</a></li>
                    <li><a href="./blog.html">blog</a></li>
                    <li><a href="./contact.html" id="active">contact</a></li> -->
                      <li><a href="/index.html">home</a></li>
<li><a href="/templates/about.html" >about</a></li>
<li><a href="/templates/blog.html" >blog</a></li>
<li><a href="/templates/contact.html" id="active">contact</a></li>
                </ul>
            </div>
        </nav>    
    </header>

    <main>
        <div class="about-title">
            Contact
        </div>

        <div class="about-bg contact-bg">
            <div class="inner-about-bg inner-contact-bg"> 
                <div class="inner-contact-text">
                    <div class="check-in-img"><img src="../assests/images/check-in.png" alt=""></div>
                    <div class="contact-text">
                        <h1>UNIT 0123 , ABC BUILDING, BUSSINESS PARK</h1>
                        <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
                    </div>
                </div>  
            </div>
        </div>

        <section class="about-section contact-section">
            <div class="about-side-secton contact-side-section">
                <h1>WE’D LOVE TO HEAR FROM YOU.</h1>
                <p class="side-section-text">If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
                    </p>
            </div>

            <div class="about-main-section contact-form">
                <h1>INQUIRY FORM</h1>
                <form action="">
                    <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <input type="text" name="subject" id="" placeholder="Subject">
                <textarea name="feedback" id="" placeholder="Share your thoughts" ></textarea>
                <button class="readmore-btn">Send</button>
                </form>
                
            </div>
        </section>
    </main>
    

    <footer class="footer">
        <div class="socialmedia-links">
            <div class="inner-smlinks">
                <a href=""><img src="../assests/images/facebook.png" alt=""></a>
                <a href=""><img src="../assests/images/twitter-sign (1).png" alt=""></a>
                <a href=""><img src="../assests/images/pinterest.png" alt=""></a>
                <a href=""><img src="../assests/images/google-browser.png" alt=""></a>
            </div>
            <p>&copy;  2025 Freeeze. All Rights Reserved. Developed by dp</p>
        </div>
    </footer>
    
</body>
</h