@media (max-width: 1024px) and (min-width: 769px) {

    .product-textbox .inner-textbox h3 {
        font-size: 16px;
    }
    .product-textbox .inner-textbox h2 {
        font-size: 20px;
        padding: 10px 0
    }

    .product-textbox .inner-textbox p {
        line-height: 1rem;
        font-size: 12px;
    }

    .home-icons .icon-box {
        width: 20%;
    }
.home-icons .icon-box a {
    height: 40%;
}

.home-icons .icon-box p {
    font-size: 12px;
    font-weight: bold;
}

.footer {
    height: 50vh;
}

.footer .socialmedia-links {
    top: 2rem;
}


/* ======= about ===== */
.about-bg {
    height: 45vh;
}

.inner-about-bg {
    background: url("../assests/images/bg-header-about.jpg") no-repeat center/cover;
}

.about-section .about-side-secton {
    width: 26%;
}
 
.about-section .about-main-section {
    width: 60%;
}

/* ========= blog ====== */

/* =========  contact ======= */
.inner-contact-bg {
    background: url("../assests/images/map.jpg") no-repeat center/cover;
}

.inner-contact-bg .inner-contact-text {
    width: 80%;
    height: 80%;
}
.inner-contact-bg  .contact-text {
    width: 70%;
    /* display: none; */
}
.contact-section .contact-side-section {
width: 26%;
padding:  23px;
}

.contact-section .contact-form {
    width: 55%;
}

/* ========= single post ======= */
/* .single-blog-section {
    width: 100%;
}
.single-blog-side-section {
    width: 20%;
}
.single-blog-main-section {
    width: 45%; 
} */
}

/* ========== tablet =========== */

@media (max-width: 768px) and (min-width: 427px) {
    .navbar {
        width: 100%;
        height: 15vh;
    }

    .navbar .navbar-logo{
        width: 35%;
    }

    .navbar .navbar-links {
        width: 65%;
    }
    .navbar .navbar-links a {
        padding-left: 12px;
    }
    .home-bg {
        background: url("../assests/images/bg-home.jpg") no-repeat center/contain;
        height: 70vh;
    }
    .home-bg .home-box{
        right: 8rem;
        bottom: 2rem;
    }
    .product-section {
        width: 100%;
        height: 120vh;
        flex-direction: column;
    }
    .product-section .product-textbox {
        width: 100%;
        height: 35%;
    }
    .product-textbox .inner-textbox {
        width: 85%;
        margin: 0;
    }
    .product-section .product-imgbox  {
        width: 100%;
        height: 65%;
    }
    .product-section .product-imgbox  img {
        width: 95%;
        display: block;
        margin: auto;
    }
    .home-icons {
        height: 100vh;
        gap: 2rem;
        padding: 2rem 0;
        flex-direction: column;
    }
    .home-icons .icon-box {
        width: 40%;
        height: fit-content;
    }
.home-icons .icon-box a {
    height: 50px;
}

.home-icons .icon-box p {
    font-size: 1rem;
}
.footer {
    height: 50vh;
}
    
/* ================== about =============  */
.inner-about-bg {
    background: url("../assests/images/bg-header-about.jpg") no-repeat center/cover;
}

.about-section {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.about-section .about-side-secton {
    width: 90%;
    padding: 5% 30%;
}
.about-section .about-side-secton  h1{
    font-size: 1.8rem;
}
.about-section .about-main-section {
    width: 90%;
}
.about-section .about-main-section h1 {
    line-height: 1.5rem;
}

/* ================== blog ===================  */
.blog-section {
    flex-direction: column-reverse;
}

/* ================ contact ===================  */
.contact-bg {
    height: 50vh;
}

.contact-section {
    flex-direction: column-reverse;
}

.inner-contact-bg {
    background: url("../assests/images/map.jpg") no-repeat center/cover;
}

.inner-contact-bg .inner-contact-text {
    width: 90%;
    /* height:  80%; */
    flex-direction: column;
}

.inner-contact-bg  .check-in-img {
    width: fit-content;
}

.inner-contact-bg  .contact-text {
    width: 90%;
}
.inner-contact-bg  .contact-text  h1 {
    margin-bottom: 4px;
}

.contact-section .contact-side-section h1{
    line-height: 1.8rem;
}
}




/* ============== mobile resolution ============ */


@media  (max-width: 426px) {
    .navbar {
        height: 20vh;
        flex-direction: column;
        align-items: center;
    }
    .navbar .navbar-links a  {
        padding: 0px 12px;
    }
    
    .home-bg .home-box {
        right: 5rem;
        bottom: 2rem;
    }
    
    .product-section , .home-icons {
        width: 100%;
        padding: 0;
        flex-direction: column;
        height: fit-content
    }
    .product-section .product-textbox{
        width: 100%;
    }
    .product-section .product-imgbox , .product-textbox .inner-textbox {
        width: 100%;
        margin: 0;
    }
    .product-textbox .inner-textbox{
        padding: 3rem 2rem;
    }

    .product-section img {
        width: 100%;
    }
    .product-textbox .inner-textbox h2 {
        font-size: 1.8rem;
    }
    .home-icons {
        gap: 2rem;
        padding: 2rem 0;
    }
    .home-icons .icon-box {
        width: 40%;
    }
.home-icons .icon-box a {
    height: 50px;
}

.home-icons .icon-box p {
    font-size: 1rem;
    /* font-weight: bold; */
}
.footer {
    height: 50vh;
}

/* ========== about ========== */
.inner-about-bg {
    background: url("../assests/images/bg-header-about.jpg") no-repeat center/cover;
}
.about-section {
    flex-direction: column;
    align-items: center;
}
.about-section .about-side-secton {
    width: 90%;
}
.about-section .about-main-section {
    width: 80%;
}
.about-section .about-main-section h1 {
    line-height: 1.5rem;
}

/* ============== blog ============= */

.blog-section {
    flex-direction: column-reverse;
}

.blog-section .blog-main-section {
    width: 90%;
}
.blog-section .inner-main-section {
   flex-direction: column;
   gap: 1rem;
}
.blog-section .inner-main-section .img-box {
    display: flex;
    justify-content: center;
}


/* ============== contact ================ */
.contact-bg {
    height: 70vh;
}
.inner-contact-bg {
    background: url("../assests/images/map.jpg") no-repeat center/cover;
}

.inner-contact-bg .inner-contact-text {
    width: 90%;
    height:  90%;
    flex-direction: column;
}

.inner-contact-bg  .check-in-img {
    width: fit-content;
}

.inner-contact-bg  .contact-text {
    width: 90%;
}
.inner-contact-bg  .contact-text  h1 {
    line-height: 1.4rem;
}

/* ========= single post blog / product ========= */
.single-blog-section {
    flex-direction: column-reverse;
    gap: 0;
}
.single-blog-section .single-blog-main-section {
    width: 90%;
}
.single-blog-main-section .readmore-btn {
    margin: 2rem auto;
}

.product-grid {
    width: 90%;
    padding: 1.5rem 0;
    gap: .5rem;
    flex-direction: column;
}

.product-grid .grid-box {
    width: 220px;
    height: fit-content;
}
.product-grid .grid-text-box {
   width: 100%;
   line-height: 1.3rem;
   margin-left: 15px;
}
}




@media only screen and (max-width: 425px) {
    .navbar {
        height: 20vh;
        flex-direction: column;
        align-items: center;
    }
    .navbar .navbar-links a  {
        padding: 0px 12px;
    }
    
    .home-bg .home-box {
        right: 5rem;
        bottom: 2rem;
    }
    
    .product-section , .home-icons {
        width: 100%;
        padding: 0;
        flex-direction: column;
        height: fit-content
    }
    .product-section .product-textbox{
        width: 100%;
    }
    .product-section .product-imgbox , .product-textbox .inner-textbox {
        width: 100%;
        margin: 0;
    }
    .product-textbox .inner-textbox{
        padding: 3rem 2rem;
    }

    .product-section img {
        width: 100%;
    }
    .product-textbox .inner-textbox h2 {
        font-size: 1.8rem;
    }
    .home-icons {
        gap: 2rem;
        padding: 2rem 0;
    }
    .home-icons .icon-box {
        width: 40%;
    }
.home-icons .icon-box a {
    height: 50px;
}

.home-icons .icon-box p {
    font-size: 1rem;
    /* font-weight: bold; */
}
.footer {
    height: 50vh;
}

/* ========== about ========== */
.inner-about-bg {
    background: url("../assests/images/bg-header-about.jpg") no-repeat center/cover;
}
.about-section {
    flex-direction: column;
    align-items: center;
}
.about-section .about-side-secton {
    width: 90%;
}
.about-section .about-main-section {
    width: 80%;
}
.about-section .about-main-section h1 {
    line-height: 1.5rem;
}

/* ============== blog ============= */

.blog-section {
    flex-direction: column-reverse;
}

.blog-section .blog-main-section {
    width: 90%;
}
.blog-section .inner-main-section {
   flex-direction: column;
   gap: 1rem;
}
.blog-section .inner-main-section .img-box {
    display: flex;
    justify-content: center;
}


/* ============== contact ================ */
.contact-bg {
    height: 70vh;
}
.inner-contact-bg {
    background: url("../assests/images/map.jpg") no-repeat center/cover;
}

.inner-contact-bg .inner-contact-text {
    width: 90%;
    height:  90%;
    flex-direction: column;
}

.inner-contact-bg  .check-in-img {
    width: fit-content;
}

.inner-contact-bg  .contact-text {
    width: 90%;
}
.inner-contact-bg  .contact-text  h1 {
    line-height: 1.4rem;
}

/* ========= single post blog / product ========= */
.single-blog-section {
    flex-direction: column-reverse;
    gap: 0;
}
.single-blog-section .single-blog-main-section {
    width: 90%;
}
.single-blog-main-section .readmore-btn {
    margin: 2rem auto;
}

.product-grid {
    width: 90%;
    padding: 1.5rem 0;
    gap: .5rem;
    flex-direction: column;
}

.product-grid .grid-box {
    width: 220px;
    height: fit-content;
}
.product-grid .grid-text-box {
   width: 100%;
   line-height: 1.3rem;
   margin-left: 15px;
}
}



